<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>

	<h1>Subjects</h1>

	<form method="POST" action="/subject">
	  <div class="field">
	    <label for="subject"></label>
	    <input type="text" name="subject" id="subject" />
	  </div>

	  <div class="actions">
	    <input type="submit"/> 
	  </div>
	</form>


	<a href="<%= '/subject/new' %>">New subject</a>

</body>
 
</html>