<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardless - Flashcards Done Right</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>


<body>

    <div class="index-background">
        <div class="get-started-button-container">
            <img class="logo" src="/img/Cardless-Logo.png" alt="">
            <h1 class="index-title">Cardless</h1>
            <a href="/subject" class="get-started-button waves-effect waves-light red darken-1 btn-large">Build Your Flashcard Deck!</a>
        </div>
    </div>

</body>

<!-- jQuery JS -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- Materialize CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Custom JS -->
<script src="/js/app.js"></script>
</html>