/*** INDEX ***/
.get-started-button-container{
    text-align: center;
}

.index-background{
    background-size: auto;
    background-position: center;
    background-image: url("../doodles.png");
    height: 97vh;
}

.logo{
    width: 100px;
    padding-top: 23vh;
}

.index-title{
    padding-top: 3vh;
    margin-top: 0px;
}

.get-started-button{
    align-self: center;
    margin-top: 2vh;
}

/*** CARDS ***/

/* Card */
.cards-body{
    background-color:  #c62828;
}

.cards-container{
    width: 80%;
    margin-left: 0;
    margin-top: 0
}


.flash-card{
    margin: 0 0 48px 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.14), 0 20px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border: 2px solid lightgrey;
}

.a-card,
.q-card{
    padding: 48px;
}

.card-header{
    margin: 0 0 24px 0;
    font-size: 100px;
    color: #292929;
    font-weight: bold;
}

.card-textarea{
    overflow:hidden;
    height: 55vh;
    caret-color: #c62828;
    font-size: 50px;
    font-weight: bold;
    padding: 8px;
    border: lightgrey 1px solid;
}

.card-textarea:focus{
    border: #c62828 1px solid;
    outline: none !important;
}

/* Icons */
.cancel-icon{
    display: block;
    position: fixed;
    top: 100px;
    right: 84px;
}

.add-icon{
    display: block;
    position: fixed;
    bottom: 160px;
    right: 84px;
}

.add-text{
    display: block;
    position: fixed;
    bottom: 120px;
    right: 120px;
    color: white;
}
i.large{
    color: white;
    font-size: 10rem;
}

i.large:hover{
    color: black;
    cursor: pointer;
}

/*** SUBJECTS ***/
.subject-card{
    text-align:center;
    margin-top: 36px;
}

.subject-card{
    color: #303030 ;
}

.subject-card:hover{
    cursor:pointer;
    background-color: #c62828;
    color: white;
}
